# Folders for the section owners
docs/sap-business-technology-platform-6a2c1ab.md  @SAP-docs/btp-cloud-platform-writers
docs/10-concepts @SAP-docs/btp-cloud-platform-concepts-writers
docs/20-getting-started @SAP-docs/btp-cloud-platform-getting-started-writers
docs/30-development @SAP-docs/btp-cloud-platform-development-writers
docs/40-extensions @SAP-docs/btp-cloud-platform-extensions-writers
docs/50-administration-and-ops @SAP-docs/btp-cloud-platform-administration-and-ops-writers
docs/60-security @SAP-docs/btp-cloud-platform-security-writers
docs/70-getting-support @nikolasimeonov77 @danachkov
docs/glossary-e67a143.md @SAP-docs/btp-cloud-platform-writers

# Files for the Kyma owners
docs/10-concepts/regions-for-the-kyma-environment-557ec3a.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/10-concepts/kyma-environment-468c2f3.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/20-getting-started/getting-started-in-the-kyma-environment-d1abd18.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/20-getting-started/getting-started-with-an-enterprise-account-in-the-kyma-environment-1903e9c.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/20-getting-started/getting-started-with-a-trial-account-in-the-kyma-environment-ccb83c7.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/20-getting-started/about-the-trial-account-c4fff0f.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/20-getting-started/setting-up-your-trial-account-57074a0.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/30-development/development-in-the-kyma-environment-606ec61.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/30-development/access-a-kyma-instance-using-kubectl-3e25944.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/30-development/using-sap-btp-services-in-the-kyma-environment-ea4dd81.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/30-development/creating-functions-fe4ba5b.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/30-development/using-kyma-eventing-with-sap-event-mesh-407d126.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/30-development/troubleshooting-kyma-console-url-responds-with-not-found-404-d514c43.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/40-extensions/extending-sap-s-4hana-cloud-in-the-cloud-foundry-and-kyma-environment-40b9e6c.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/40-extensions/create-an-sap-s-4hana-cloud-extensibility-service-instance-in-the-kyma-environment-32bd423.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/40-extensions/create-an-sap-s-4hana-cloud-extensibility-service-instance-in-the-kyma-environment-55d876e.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/40-extensions/create-an-sap-event-mesh-service-instance-in-the-kyma-environment-3de02d2.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/40-extensions/extending-sap-marketing-cloud-in-the-cloud-foundry-and-kyma-environment-18bb3d9.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/40-extensions/extending-sap-successfactors-in-the-cloud-foundry-and-kyma-environment-9e33934.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/40-extensions/create-an-sap-successfactors-extensibility-service-instance-in-the-kyma-environment-f371f81.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/40-extensions/extending-sap-customer-experience-products-in-the-kyma-environment-83df31a.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/40-extensions/register-an-sap-customer-experience-system-1582d72.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/50-administration-and-ops/administration-and-operations-in-the-kyma-environment-b8e1686.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/50-administration-and-ops/create-the-kyma-environment-instance-09dd313.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/50-administration-and-ops/available-plans-in-the-kyma-environment-befe01d.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/50-administration-and-ops/assign-roles-in-the-kyma-environment-148ae38.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/50-administration-and-ops/overwrite-kyma-administrators-df7f9d7.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/50-administration-and-ops/configure-sap-btp-connectivity-in-the-kyma-environment-0c03501.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/50-administration-and-ops/kyma-environment-backup-ab959cf.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/50-administration-and-ops/kyma-metrics-and-logs-d71a7cd.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/50-administration-and-ops/set-up-grafana-authentication-3e4299c.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/50-administration-and-ops/configure-the-docker-registry-fa0ba7d.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/60-security/security-in-the-kyma-environment-ee08fdf.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/60-security/authentication-and-authorization-in-the-kyma-environment-85200d8.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/60-security/troubleshooting-forbidden-access-to-kyma-a779e51.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/60-security/configure-a-custom-identity-provider-for-kyma-67bcc6e.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/60-security/expose-and-secure-a-workload-with-a-json-web-token-44bb2d3.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/60-security/function-security-1be599b.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/60-security/data-protection-and-privacy-in-the-kyma-environment-935e241.md @SAP-docs/btp-cloud-platform-kyma-writers
docs/70-getting-support/operating-model-in-the-kyma-environment-862b96b.md @SAP-docs/btp-cloud-platform-kyma-writers
